<h4 class="center-align">IDENTIFICACION DEL ESTUDIANTE.</h4>

<a routerLink="/create" class="btn green accent-4">Agregar Alumno + </a>
<hr>

<table class="responsive-table centered table striped">
    <thead class="blue lighten-4">
        <th>ID</th>
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>NIE</th>
        <th>ESPECIALIDAD</th>
        <th>ACCIONES</th>
    </thead>
    <tr>
        <td>1</td>
        <td>Benjamín Ernesto</td>
        <td>Morán Mate</td>
        <td>101020</td>
        <td>Técnico Vocacional En Desarrollo De Software</td>
        <td>
            <a href="#" class="btn blue darken-3">Editar</a>
            <a href="#" class="btn red">Borrar</a>
            <a href="#" class="btn light-green accent-3" target="_blank">Ficha</a>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Benjamín Ernesto</td>
        <td>Morán Mate</td>
        <td>101020</td>
        <td>Técnico Vocacional En Desarrollo De Software</td>
        <td>
            <a href="#" class="btn blue darken-3">Editar</a>
            <a href="#" class="btn red">Borrar</a>
            <a href="#" class="btn light-green accent-3" target="_blank">Ficha</a>
        </td>
    </tr>
</table>